a{
    color:#324a5e;
}



.cardDashboard .boxDash{
    width: 100%;
    height: 210px;
    margin-bottom: 25px;
    background: #fbfbfb;
    border-radius: 15px;
}
.cardDashboard .wrong-item {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cardDashboard .wrong-item:hover, .wrong-item:active {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
}
.actualidadDashboard{
    float: left;
    width: 25%;
}
.cardDashboard .boxDash .linea_vertical{
    width: 100%;   
    height: 100%;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
}



.cardDashboard .boxDash .linea_vertical .contentDash .titulo_card{
    float: left;
}

.cardDashboard .boxDash .linea_vertical .contentDash .titulo_card h3{ 
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 18px;
}
.cardDashboard .boxDash .linea_vertical .contentDash .dashFilaUno,
.cardDashboard .boxDash .linea_vertical .contentDash .dashFilaDos{
    float: left;
}

.cardDashboard .boxDash .linea_vertical .contentDash .dashFilaDos,
.cardDashboard .boxDash .linea_vertical .contentDash .dashFilaDos{
    float: right;
}
.cardDashboard .boxDash .linea_vertical .contentDash .dashFilaUno h4,
.cardDashboard .boxDash .linea_vertical .contentDash .dashFilaDos h4{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2px;
}
.cardDashboard .boxDash .linea_vertical .contentDash .dashFilaUno p{
    color: #9d9d9d;
    font-size: 13px;
    margin-bottom: 0;
}
.cardDashboard .boxDash .linea_vertical .contentDash .dashFilaDos p{
    font-size: 16px;
    text-align: right;
    margin-bottom: 0;
}
.cardDashboard .boxDash .linea_vertical .contentDash .proxCuotas{
    margin-bottom: 0;
}
.cardDashboard .boxDash .linea_vertical .contentDash .proxCuotas h4{
    font-size: 14px;
    margin-bottom:10px;
}
.cardDashboard .boxDash .linea_vertical .contentDash .proxCuotas .monto{
    font-size:18px;
    color: #3d3d3d;
    margin-bottom: 15px;
}
.cardDashboard .boxDash .linea_vertical .contentDash .proxCuotas .vencimiento{
    font-size:14px;
}

.chart {
    position: relative;
    color: #999;
    font-size: 20px;
}
.chart svg {
    position: relative;
    top: 0;
    left: 0;
    width: 124px;
    height: 117px;
}
.outer {
    fill: transparent;
    stroke:  #979797;
    stroke-width: 13;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    -moz-transform: rotate(-89deg) translateX(-190px);
}
.chart:hover .outer {
    stroke-dashoffset: 534 !important;
    -webkit-animation-play-state: paused;
}
.chart[data-percent='100'] .outer {
    stroke-dashoffset: 0;
    -webkit-animation: show100 2s;
    animation: show100 2s;
}
.chart[data-percent='75'] .outer {
    stroke-dashoffset: 133;
    -webkit-animation: show75 2s;
    animation: show75 2s;
} 
.chart[data-percent='50'] .outer {
    stroke-dashoffset: 267;
    -webkit-animation: show50 2s;
    animation: show50 2s;
}
.chart[data-percent='25'] .outer {
    stroke-dashoffset: 401;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}

.spinner,.spinner:after{
    width: 85px;
    height: 85px;
    position: absolute;
    /* top: 58%; */
    left: 52%;
    /* margin-top: -32px; */
    margin-left: -32px;
    border-radius: 50%;
    z-index: 2;
 }
.spinner {
    background-color: transparent;
    border-top: 10px solid grey;
    border-right: 10px solid grey;
    border-bottom: 10px solid grey;
    border-left: 10px solid rgba(146, 152, 156, 0.3);
    transform: translateZ(0);
 }
@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}

@-webkit-keyframes show100 {
from {
    stroke-dashoffset: 537;
}

to {
    stroke-dashoffset: 0;
}
}

@keyframes show100 {
from {
    stroke-dashoffset: 537;
}

to {
    stroke-dashoffset: 0;
}
}

@-webkit-keyframes show75 {
from {
    stroke-dashoffset: 537;
}

to {
    stroke-dashoffset: 134;
}
}

@keyframes show75 {
from {
    stroke-dashoffset: 537;
}

to {
    stroke-dashoffset: 124;
}
}

@-webkit-keyframes show50 {
from {
    stroke-dashoffset: 537;
}

to {
    stroke-dashoffset: 267;
}
}

@keyframes show50 {
from {
    stroke-dashoffset: 537;
}

to {
    stroke-dashoffset: 267;
}
}

@-webkit-keyframes show25 {
from {
    stroke-dashoffset: 537;
}

to {
    stroke-dashoffset: 401;
}
}

@keyframes show25 {
from {
    stroke-dashoffset: 537;
}

to {
    stroke-dashoffset: 401;
}
}


@media (min-width: 1440px) and (max-width: 1599px) {
    .spinner,.spinner:after{
        width: 74px;
        height:74px;
    }
    .dashPaddingX{
        padding-left: 10px!important;
        padding-right: 10px!important;
        padding-top: 45px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .titulo_card h3{
        font-size: 16px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .boxDashVerTodas a{
        font-size: 10px;
        margin-top: 4px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaDos p{
        font-size: 14px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaUno h4,
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaDos h4{
        font-size: 14px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaUno p{
        font-size: 10px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .proxCuotas .monto{
        margin-bottom: 0;
        font-size: 14px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .proxCuotas .vencimiento{
        font-size: 12px;
    }
    .outer{
        transform: rotate(-27, 87, 98);
    }    
}


@media (min-width: 1200px) and (max-width: 1366px) {
    .spinner,.spinner:after{
        width: 74px;
        height:74px;
    }
    .dashPaddingX{
        padding-left: 10px!important;
        padding-right: 10px!important;
        padding-top: 45px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .titulo_card h3{
        font-size: 16px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .boxDashVerTodas a{
        font-size: 10px;
        margin-top: 4px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaDos p{
        font-size: 14px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaUno h4,
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaDos h4{
        font-size: 14px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaUno p{
        font-size: 10px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .proxCuotas .monto{
        margin-bottom: 0;
        font-size: 14px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .proxCuotas .vencimiento{
        font-size: 12px;
    }
    .outer{
        transform: rotate(-27, 87, 98);
    }
}
@media (min-width: 1367px) and (max-width: 1439px) {
    .spinner,.spinner:after{
        width: 74px;
        height:74px;
    }
    .dashPaddingX{
        padding-left: 10px!important;
        padding-right: 10px!important;
        padding-top: 45px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .titulo_card h3{
        font-size: 16px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .boxDashVerTodas a{
        font-size: 10px;
        margin-top: 4px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaDos p{
        font-size: 14px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaUno h4,
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaDos h4{
        font-size: 14px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .dashFilaUno p{
        font-size: 10px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .proxCuotas .monto{
        margin-bottom: 0;
        font-size: 14px;
    }
    .cardDashboard .boxDash .linea_vertical .contentDash .proxCuotas .vencimiento{
        font-size: 12px;
    }
    .outer{
        transform: rotate(-27, 87, 98);
    }
}