@import "src/scss/custom.scss";

img{
    border:0;
}

a{
    text-decoration:none;
    color:#324a5e;
    transition: all 0.2s ease 0s;
}

a:hover {
    color: #00618F;
    transition: all 0.2s ease 0s;
}

li {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: 0px;
    list-style:none;
}
ul {
    border-spacing: 0;
    margin: 0px;
    overflow: auto;
    padding: 0;
}
.content {
    text-align: left;
    width: 100%;
    
}
.contentLog {
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    width: 745px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    top: 20%;
    min-height: 390px;
    overflow: hidden;
    height: 408px;
}
.login {
    display: flex;
    /*width: 800px;*/
    height: 100%;
    position: absolute;
}
.login .pass{
    margin-bottom: 15px;
}
.gris {

    width: 260px;
    height: 408px;
    transition: 1.0s ease all;
    -moz-transition: 1.0s ease all;
    -webkit-transition: 1.0s ease all;
    border-radius: 20px 0 0 20px;
}
.back_registro{
    background-image:
    linear-gradient(to bottom, rgba(124, 5, 255,0.5), rgba(63, 5, 127,0.5)),
    url('https://picsum.photos/id/700/200/300');
   background-size: cover;
   border-radius: 0px 20px 20px 0;
}
.back_login{
    background-image:
    linear-gradient(to bottom, rgba(124, 5, 255,0.5), rgba(63, 5, 127,0.5)),
    url('https://picsum.photos/id/700/200/300');
   background-size: cover;
   border-radius: 20px 0px 0px 20px;
}
.contentForm{
    position: relative;
}
.contentElement {
    display: table;
    height: 100%;
    width: 100%;
}
.elementos {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 18px 50px;
    position: relative;
}
.elementosSub {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
    position: relative;
}
.texto_login {
    display: block;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.texto_sub_login {
    display: block;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    margin: 10px 0;
    line-height: 17px;
}
.btn_login {
    border: 1px solid #ffffff;
    padding: 10px 0px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    font-size: 12px;
    color: #ffffff;
    margin: 15px 0;
    width: auto;
    text-align: center;
    padding: 10px 20px;
}
.btn_login:hover {
    background-color:rgba(255,255,255,0.1);
    transition:all ease-out 0.5s;
}
.btn_login2 {
    border: 1px solid rgba(205, 205, 205, 0.5);
    background-color: rgba(205, 205, 205, 1);
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    padding: 10px 25px;
    float: right;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out

}
.btn_login2:hover {
    color: #fff;
    background: rgb(114,6,233);
    background: linear-gradient(7deg, rgba(114,6,233,1) 0%, rgba(81,3,166,1) 35%);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.ttLogin {
    color: #6c757d;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 5px;
    position: relative;
    top: -16px;
}
.ttLogin strong{
    color: #5103a6;
}
.bajadaLogin{
    color: #9d9d9d;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}


.group {
    position: relative;
    text-align: right;
}
input {
    font-size: 14px;
    padding: 5px 9px 5px 15px;
    display: block;
    color: #100f12;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #cccccc;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    background-color: transparent;
    margin-top: 30px;
}
label {
    color: #6c757d;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: -25px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    text-transform: initial;
}
input:focus ~ label, input:valid ~ label {
    top: 0px;
    font-size: 12px;
    color: #6c757d;
    left: 0;
    right: 0;
    top: 7px;
    font-weight: normal;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

input:focus{
    outline:0px;
}
.text_bottom{
    position: absolute;
    bottom: 20px;
    font-size: 13px;
    left: 0;
    right: 0;
    color: #5103a6;
}
.blanco{
    color:#fff;
}

@keyframes outRight {
    from {
        right:0px;
    }
    to {
        right:-400px;
    }
}
@keyframes outLeft {
    from {
        left:0px; 
    }
    to {
        left:-400px; 
    }
}

@keyframes select {
    from {
        width:200px;
    }
    to {
        width:400px;
    }
}

.out1{
    animation-name: outRight;
    animation-duration: 1s;
}
.out2{
    animation-name: outLeft;
    animation-duration: 1s;
}

@keyframes inRight {
    from {
        right:-400px;
    }
    to {
        right:0px;
    }
}
@keyframes inLeft {
    from {
        left:-400px;
    }
    to {
        left:0px;
    }
}

.in1{
    animation-name: inLeft;
    animation-duration: 1s;
}
.in2{
    animation-name: inRight;
    animation-duration: 1s;
}
.select{
    width:486px;
    transition: 1.0s ease all;
    -moz-transition: 1.0s ease all;
    -webkit-transition: 1.0s ease all;
}
.ocultar{
    display:none;
    transition: 1.2s ease all;
    -moz-transition: 1.2s ease all;
    -webkit-transition: 1.2s ease all;
}
.ini1{
    left:0px!important;
    transition: 1.5s ease all;
    -moz-transition: 1.5s ease all;
    -webkit-transition: 1.5s ease all;
}
#elementIngreso{
    width:400px;
}


/*STYLE AGREGADOS POR MARIANO */
.ingreso_hb{
    margin-top: 60px;
}
#validacion{
    margin-top: 15px;
    left: 0;
    right: 0;
}
#teclado_virtual{
    float: left;
}
#number_validation{
    width: 53%;
    float: left;  
}

#teclado_virtual small{
    font-size: 13px;
    display: block; 
    margin-top: 8px;
}

.progress {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 22px;
    float: right;
 }

.progress > li {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 0.9em;
    margin-right: 7px;
}
.progress > li:last-child{
    margin-right: 0!important;
}
.progress > li:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    width: 2em;
    height: 2em;
    text-align: center;
    margin-bottom: 0.25em;
    line-height: 2em;
    border: solid 1px #979797;
    position: relative;
    z-index: 1000;
}
.is-active {
    
}

.checkbox-custom, .radio-custom {
    opacity: 0;
   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    position: absolute;
    top: 38px;
    width: 147px;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border-radius: 3px;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: rebeccapurple;
    box-shadow: inset 0px 0px 0px 4px #fff;
    border-radius: 3px;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
}


.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}
