#cabeceraBienvenido{
    width: 100%;
    height: 80px;
    border-bottom:1px solid #d7d7d7;
    position: fixed;
    background-color: #fff;
    z-index: 5;
}

#cabeceraBienvenido .logoBienvenido{
    float: left;
    margin: 20px 0 0 32px;
}
#cabeceraBienvenido .logoBienvenido a{
    text-decoration: none;
}
#cabeceraBienvenido .logoBienvenido h1{
    margin: 0;
    font-size: 23px;
}
#cabeceraBienvenido .usuarioLogeado{
    float: right;
    margin: 30px 32px 0 0;
}
#cabeceraBienvenido .usuarioLogeado a{
    font-size: 21px;
    text-decoration: none;
}
#contentMenuBienv{
    position: relative;
}
.menuBienvenido{
    width: 13%;
    border-right: 1px solid #d7d7d7;
    min-height: 100%;
    display: block;
    position: fixed;
    top: 79px;
    bottom: 0;
    height: 100vh;
}
#contentMenuBienv .menuBienvenido .menu{
    padding: 30px;
}
#contentMenuBienv .menuBienvenido .menu li{
    width: 100%;
    list-style: none;
    margin-bottom: 30px;
}
#contentMenuBienv .menuBienvenido .menu li a{
    text-decoration: none;
}
#contentMenuBienv .menuBienvenido .menu li img{
    position: relative;
    top: 3px;
}
#contentMenuBienv .menuBienvenido .menu li span{
    margin-left: 8px
}
.usuarioRegistrado{
    padding: 0 30px;
}
.usuarioRegistrado h4{
    font-weight: 400;
    float: left;
}
#selectorUsuario{
    padding: 0;
    margin: 0;
    margin-left: 10px;   
    border-radius: 3px;
    overflow: hidden;
    background: url("/assets/images/arrow.svg")no-repeat 95% 50%;
    /* background-image: url("./assets/images/arrow.svg") no-repeat 90% 50%; */
}
#selectorUsuario select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

#selectorUsuario select:focus {
    outline: none;
}
.usuarioHomeBanking{
    padding: 20px 30px 15px 30px;
}
.usuarioHomeBanking .avatar{
    width: 50px;
    height: 50px;
    background-color: #6a6a6a
}