<div id="cabeceraBienvenido">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-3">
                <div class="logoBienvenido">
                    <nav class="navbar navbar-light bg-light p-0">
                        <a class="navbar-brand" href="" routerLinkActive="active-link" routerLink="/"><h1>Red Link</h1></a>
                    </nav>
                    
                </div>
            </div>
            <div class="col-6 col-sm-8 col-lg-9">
                <div class="usuarioLogeado">
                    <ul>
                        <li>
                            <i data-feather="circle"></i> 
                           
                        </li>
                        <li style="position: relative">        
                            <a href=""><i class="far fa-envelope"></i></a>
                            <a href="" class="notificacion">5</a>
                        </li>
                        <li>
                            <a href="" class="exit">Salir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            <div id="contentMenuBienv">
                    <div class="menuBienvenido">
                        <div class="usuarioHomeBanking">
                            <!-- <img src="../assets/images/avatar.png" class="avatar" alt=""> -->
                        </div>
                        <div class="usuarioRegistrado">
                            <div class="col-6 col-sm-6 col-md-8 float-left px-0">
                            <h4>Hola, <strong>María!</strong></h4>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 float-right px-0" id="selectorUsuario">
                                <select >
                                    <option value="hide"></option> 
                                    <option value="" rel="icon-temperature"></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select> 
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="mt-lg-4" style="clear: both">
                            <ul class="nav flex-lg-column d-sm-block d-sm-flex justify-content-sm-center p-xs-0  ">
                                <li class="nav-item ">
                                    <a href="" class="nav-link" routerLink="/home" routerLinkActive="router-active-link">
                                        <img class="mr-2 mr-sm-5 mr-lg-2" src="../assets/images/grid.svg" alt=""/>
                                        <span class="d-none d-lg-block">Inicio</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a href="" class="nav-link" routerLink="/pagar" routerLinkActive="router-active-link">
                                        <img class="mr-2 mr-sm-5 mr-lg-2" src="../assets/images/credit-card.svg" alt=""/>
                                        <span class="d-none d-lg-block">Pagar</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a href="" class="nav-link" routerLink="/recargar" routerLinkActive="router-active-link">
                                        <img class="mr-2 mr-sm-5 mr-lg-2" src="../assets/images/credit-card.svg" alt=""/>
                                        <span class="d-none d-lg-block">Recargar</span>
                                    </a>
                                </li> 
                                <li class="nav-item ">
                                    <a href="" class="nav-link" routerLink="/transferir" routerLinkActive="router-active-link">
                                        <img class="mr-2 mr-sm-5 mr-lg-2" src="../assets/images/group-3.svg" alt=""/>
                                        <span class="d-none d-lg-block">Transferir</span>
                                    </a>
                                </li>                         
                                <li class="nav-item ">
                                    <a href="" class="nav-link" routerLink="/transferir" routerLinkActive="router-active-link">
                                        <img class="mr-2 mr-sm-5 mr-lg-2" src="../assets/images/trending-up.svg" alt=""/>
                                        <span class="d-none d-lg-block">Invertir</span>
                                    </a>
                                </li>  
                                <li class="nav-item ">
                                    <a href="" class="nav-link" routerLink="/transferir" routerLinkActive="router-active-link">
                                        <i class="fas fa-search"></i>
                                        <span class="d-none d-lg-block">Buscar</span>
                                    </a>
                                </li>  
                            </ul>
                        </div>      
                    </div> 
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
            <div id="contentPageBievenido">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class=" col-lg-1 col-xl-1"></div>
    </div>
</div>



 
