<section class="cardDashboard">
    <a href="" class="">
        <div class="boxDash wrong-item item">
            <div class="linea_vertical ">
                <div class="contentDash dashPaddingX">
                    <div class="col-12 titulo_card px-0">
                        <h3>Producto <br>
                            preaprobado</h3> 
                        <br>
                    </div>   

                    <div class="clear"></div>

                    <div class="dashFilaUno productoPre float-right">
                        <i class="fas fa-cube"></i>
                    </div>
                </div>                 
            </div>
        </div>
    </a>
</section>
