<div class="slider-box">        
    <div class="slider-card-1 cuurent-act-card-border wrong-item item pr-3">
        <div class="col-xl-10 float-left pr-0">
            <div class="contentCajas">
                <h2>Caja de ahorro <br>
                en pesos</h2>
            </div>   
        </div>
        <div class="col-xl-2 float-right">
            <a href="">
                <i class="fas fa-star"></i>
            </a>
        </div>

        <div class="clearfix"></div>

        <div class="col-12 contentCajas">
            <h3>Nº 02300003424234456</h3>
            <h4>Saldo</h4>
            <p>U$S 1.669,57</p>
        </div>

        <div class="clearfix"></div>

        <div class="col-12 copiarDatosCuenta">
            <a href="">Copiar tus datos bancarios</a>   
        </div>
    </div>       
</div>      


