<section class="cardDashboard">
    <a href=""> 
        <div class="boxDash wrong-item item">
            <div class="linea_vertical color_2 float-left"></div>
            <div class="contentDash dashPaddingX float-right">
                <div class="col-6 titulo_card p-0">
                    <h3>Tarjetas</h3>
                </div>
                <div class="col-6 boxDashVerTodas p-0">
                    <a href="" class="float-right ver todas badge badge-pill ml-3 px-3 border border-dark text-uppercase text-dark text-size-2 lnk-logout-button bg-transparent"routerLink="/cuentas/cajas">VER TODAS</a>
                </div>

                <div class="clear"></div>

                <div class="col-6 dashFilaUno px-0">
                    <h4>VISA **** 6789</h4>
                    <p>Vence el 12/07/2019</p>
                </div>
                <div class="col-6 dashFilaDos px-0">
                    <p><strong>$ 165.879,23</strong></p>
                    <p><strong>U$S 16,99</strong></p>
                </div>

                <div class="clear"></div>
                <hr>
                <div class="col-8 dashFilaUno px-0">
                    <h4>Mastercard **** 3456</h4>
                    <p>Vence el 03/07/2019</p>
                </div>
                <div class="col-4 dashFilaDos px-0">
                    <p><strong>U$S 19,57</strong></p>
                    
                </div>
            </div>                
        </div>
    </a>
</section>
