@import "src/app/views/recargar/recargar.component.scss";
@import "node_modules/bootstrap/scss/bootstrap";

#counter{
    display: none;
    visibility: hidden;
    opacity:0;
    
}
.paso0{
    z-index:50;
}

.paso1{
    z-index:49;
}

.paso2{
    z-index:48;
}

.paso3{
    z-index:47;
}


h5{
    font-size:24px;
}

h6{
    color: #c0c0c0;
    font-size:12px;
    margin-bottom: 0px;
}

.modal-footer{
    justify-content: space-between !important;
    border-top:none !important;
    padding:32px;
}

.modal-body{
    padding: 70px 0 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feather{
    stroke-width: 1 !important;
}

select{
    padding: 16px;
    width: 320px;
    border: solid 1px #dde3e8;
    margin-top:8px;
    border-radius: 3px;
    font-size:16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select:before{
    content: "\25bc";
    color: gray;
}

.btn-secondary{
    padding: 12px 45px;
    font-size: 14px;
}

.back{
    color:#788995;
    visibility: hidden;
    opacity: none;
}

.back > i-feather{
    transition:all 200ms ease-in-out;
}

.back:hover > i-feather{
    transform:translateX(-4px);
}

.back:focus{
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0);
}

.fas{
    right: 20px;
position: absolute;
margin-top: 30px;
}