<section id="content-general">
    <div class="tituloEncabezado">
        <div class="row">
            <div class="col-6 float-left">
                <div class="mb-hb">
                    <h2>Estás en <strong>Inicio</strong></h2>        
                </div>
            </div>
            <div class="col-6 float-right">
                <a href="" class="float-right configuracion_inicio badge badge-pill ml-3 px-3 border border-dark text-uppercase text-dark text-size-2 lnk-logout-button bg-transparent">Configurar tu inicio</a>
            </div>
        </div>
    </div>



    <div class="cardDashboard"> 
        <div class="row">

                <div class="col-12 col-md-6 col-lg-6 col-xl-8 mb-sm-3 mb-lg-0 pr-0">

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-sm-3 mb-lg-0  dashPaddingX">
                                <app-widget-caja></app-widget-caja>   
                        </div>
                    
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-sm-3 mb-lg-0 dashPaddingX">
                                <app-tarjetas-creditos-widget></app-tarjetas-creditos-widget>
                        </div>

                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-sm-3 mb-lg-0  dashPaddingX">
                                <app-adelanto-haberes-widget></app-adelanto-haberes-widget>
                        </div>
                
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-sm-3 mb-lg-0  dashPaddingX">
                                <app-proximos-vencimientos-widget></app-proximos-vencimientos-widget>
                        </div>

                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-sm-3 mb-lg-0  dashPaddingX">
                                <app-plazo-fijo-widget></app-plazo-fijo-widget>
                        </div>
                
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-sm-3 mb-lg-0  dashPaddingX">
                                <app-fondo-inversiones-widget></app-fondo-inversiones-widget>
                        </div>

                    </div>
                </div>



                <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-sm-3 mb-lg-0 pr-0">

                        <div class="col-12 col-md-6 col-lg-6 col-xl-12 mb-sm-3 mb-lg-0  dashPaddingX">
                                <app-cotizacion-dolar-widget></app-cotizacion-dolar-widget>
                        </div>
                                    
                
                        <div class="col-12 col-md-6 col-lg-6 col-xl-12 mb-sm-3 mb-lg-0  dashPaddingX">
                                <app-cotizacion-dolar-widget></app-cotizacion-dolar-widget>
                        </div>
                
                        
                                
                            
                
                        <div class="col-12 col-md-6 col-lg-6 col-xl-12 mb-sm-3 mb-lg-0  dashPaddingX">
                            <!-- <app-productos-preaprobados-widget></app-productos-preaprobados-widget> -->
                        </div>

                        </div>
                </div>
        
        

            




    </div>
</section>