<section class="cardDashboard">
    <a href="">
            <div class="vencimientos wrong-item item w-100">
                        <div class="card_estado_servicios"></div>
                        <div class=" dashPaddingX">
                            <div class="col-12 titulo_card px-0">
                                <h3>Tus próximos vencimientos</h3>
                            </div>
        
                            <div class="clear"></div>
        
                            <div class="dashFilaUno">
                                <div class="servicio">
                                    <div class="titulo_servicio">
                                        <span>NETFLIX</span>
                                    </div>
                                    <div class="monto_servicio">
                                        <span><strong>$ 165,23</strong></span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="progress">
                                        <div class="progress_bar"></div>
                                    </div>
                                </div>
                                <div class="servicio">
                                    <div class="titulo_servicio">
                                        <span>Edesur</span>
                                    </div>
                                    <div class="monto_servicio">
                                        <span><strong>$ 1522,78</strong></span>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="progress">
                                        <div class="progress_bar"></div>
                                    </div>
                                </div>
                                <div class="servicio">
                                        <div class="titulo_servicio">
                                            <span>Apple ID</span>
                                        </div>
                                        <div class="monto_servicio">
                                            <span><strong>U$S 0,999</strong></span>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="progress">
                                            <div class="progress_bar"></div>
                                        </div>
                                    </div>
                            </div>

                        </div>                
                    
            </div>
    </a>
</section>