/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

html {
    margin-left: 0px;   
    margin-top: 0px;    
    margin-right: 0px;    
    margin-bottom: 0px;    
    height: 100%;
}

body{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color:#e4e4e4;
    color:#324a5e;
    /* -webkit-animation: fadein 1s; 
    -moz-animation: fadein 1s; 
    -ms-animation: fadein 1s; 
    -o-animation: fadein 1s; 
     animation: fadein 1s; */
    font-family: 'Open Sans', sans-serif!important;    
    font-weight: 500
}

.btn_salir{
    font-size:12px;
} 

.clear{
    clear: both;
}
#contentPageBievenido{
    margin-top: 30px
}
.white{
    background-color: #fff;
}

.tituloEncabezado h2{
    font-weight: 400;
    font-size: 22px;
}