<section class="cardDashboard">
    <a href="">
        <div class="boxDash wrong-item item">
            <div class="linea_vertical color_5 float-left"></div>
            <div class="contentDash dashPaddingX float-right">
                <div class="col-7 titulo_card px-0 tituloPlazo">
                    <h3>Plazo Fijo</h3>
                </div>   
                <div class="col-5 boxDashVerTodas p-0">
                    <a class="float-right" href="">VER TODAS</a>
                </div> 
                <div class="clear"></div>
                <div class="col-lg-12 subtitulo px-0">
                    <h3>tradicional en pesos</h3>
                </div>    

                <div class="clear"></div>

                <div class="col-12 dashFilaUno px-0 proxCuotas pt-lg-3">
                    <h4>Capital al vencimiento</h4>
                    <p class="monto"><strong>$ 8.500</strong></p>
                    <p class="vencimiento">Vence el 12/10/2019</p>
                </div>
            </div>                              
        </div>
    </a> 
</section>