<section id="contentCuentas">
    <div class="tituloEncabezado">
        <div class="col-6 float-left">
            <div class="tituloEncabezado">
                <h2>Estás en <strong>Cuentas</strong></h2>        
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="cardDashboard">
     
            <div class="">
                <div class="slider-div">                  
                    <div class="slider-box">        
                        <app-cajas-ahorro-pesos></app-cajas-ahorro-pesos>                             
                    </div>      
                </div>   
            </div> 
        </div>
</section>  
