*{
    box-sizing:border-box
}
.cardDashboard .contentCajas h2{
    font-size: 18px;
    font-weight: 700;
}
.cardDashboard .contentCajas h3{
    font-size: 15px;
    color: #6a6a6a;
    margin-bottom: 20px;
}
.cardDashboard .contentCajas h4{
    font-size: 15px;
    color: #6a6a6a;
    margin-bottom: 0;
}
.cardDashboard .contentCajas p{
    font-size: 26px;
    margin-bottom: 13px;
}
.cardDashboard .contentCajas a{
    color: #6a6a6a;
    display: block;
    font-size: 13px;
}
.cardDashboard .slider-div .wrong-item {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cardDashboard .slider-div .wrong-item:hover, .wrong-item:active {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
}
.cardDashboard .slider-div{
    padding:40px 0px; 
    overflow:hidden; 
    position:relative;
}
.cardDashboard .slider-div:before{
    content:""; 
    width:20%; 
    height:100%; 
    position:absolute; 
    top:0px; 
    left:0px; 
    background:linear-gradient(to right, rgba(255, 127, 80, 0.10), rgba(255,255,255,0));
    z-index:0;
}
.cardDashboard .slider-div:after{
    content:""; 
    width:20%; 
    height:100%; 
    position:absolute; 
    top:0px; 
    right:0px; 
    background:linear-gradient(to left, rgba(255, 127, 80, 0.10), rgba(255,255,255,0)); 
    z-index:5;
}

.cardDashboard .slider-box{    
    width: 57%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    margin: 0px auto;
    left: -21%;
    min-height: 220px;
}

.cardDashboard .slider-card-1{
    width:35%; 
    height:100%; 
    background:#fff; 
    padding:20px 13px; 
    border-radius:5px; 
    position:absolute; 
    top:0px; 
    left:0px; 
    /* border-bottom:6px solid #ff7f504f; 
    transform:translateX(110%); 
    transition:0.5s all ease; 
    box-shadow: 0px 5px 15px 0px rgba(51, 59, 69, 0.14); */
    -webkit-font-smoothing: subpixel-antialiased;
}
.cardDashboard .slider-card-2{
    width:35%; 
    height:100%; 
    background:#fff;  
    padding:13px; 
    border-radius:5px; 
    position:absolute; 
    top:0px; 
    left:0px; 
    /* border-bottom:6px solid #ff7f504f; 
    transform:translateX(110%); 
    transition:0.5s all ease; 
    box-shadow: 0px 5px 15px 0px rgba(51, 59, 69, 0.14);  */
    -webkit-font-smoothing: subpixel-antialiased;
} 
/* .slider-card-3{width:35%; height:100%; background:#fff; padding:13px; border-radius:5px; position:absolute; top:0px; left:0px; border-bottom:6px solid #ff7f504f; transform:translateX(220%); transition:0.5s all ease; box-shadow: 0px 5px 15px 0px rgba(51, 59, 69, 0.14); -webkit-font-smoothing: subpixel-antialiased;}
.slider-card-4{width:35%; height:100%; background:#fff; padding:13px; border-radius:5px; position:absolute; top:0px; left:0px; border-bottom:6px solid #ff7f504f; transform:translateX(330%); transition:0.5s all ease; box-shadow: 0px 5px 15px 0px rgba(51, 59, 69, 0.14); -webkit-font-smoothing: subpixel-antialiased;}
.slider-card-5{width:35%; height:100%; background:#fff; padding:13px; border-radius:5px; position:absolute; top:0px; left:0px; border-bottom:6px solid #b4b5b9; transform:translateX(440%); transition:0.5s all ease; box-shadow: 0px 5px 15px 0px rgba(51, 59, 69, 0.14); -webkit-font-smoothing: subpixel-antialiased;} */ */

.cardDashboard .card-1-disable, 
.cardDashboard .card-1-nxt, 
.cardDashboard .card-2-pre, 
.cardDashboard .card-2-nxt, 
.cardDashboard .card-3-pre, 
.cardDashboard .card-3-nxt, 
.cardDashboard .card-4-pre, 
.cardDashboard .card-4-nxt, 
.cardDashboard .card-5-pre, 
.cardDashboard .card-5-disable{
    width:39px; 
    height:39px; 
    text-align:center; 
    border-radius:50%; 
    background:#3C1000 ; 
    position:absolute; 
    top:45%; 
    z-index:99; 
    cursor:pointer;
}

.cardDashboard .card-1-nxt, 
.cardDashboard .card-2-nxt, 
.cardDashboard .card-3-nxt, 
.cardDashboard .card-4-nxt, 
.cardDashboard .card-5-disable{
    padding:11px 16px;
}
.cardDashboard .card-1-disable, 
.cardDashboard .card-2-pre, 
.cardDashboard .card-3-pre, 
.cardDashboard .card-4-pre, 
.cardDashboard .card-5-pre{
    padding:11px 5px;
}

/* .card-1-disable .fa, .card-1-nxt .fa, .card-2-pre .fa, .card-2-nxt .fa, .card-3-pre .fa, .card-3-nxt .fa, .card-4-pre .fa, .card-4-nxt .fa, .card-5-pre .fa, .card-5-disable .fa{color:#fff;}
.card-2-pre, .card-3-pre, .card-4-pre, .card-5-pre{left:85px; box-shadow: 0px 12px 24px 0px rgba(83, 191, 66, 0.20);}
.card-1-nxt, .card-2-nxt, .card-3-nxt, .card-4-nxt{right:85px; box-shadow: 0px 12px 24px 0px rgba(83, 191, 66, 0.20)}
.card-1-disable{left:85px; background:#F34100;display: block;}
.card-5-disable{right:85px; background:#F34100;display: block}
.card-2-pre, .card-2-nxt, .card-3-pre, .card-3-nxt, .card-4-pre, .card-4-nxt, .card-5-pre, .card-5-disable{display:none;} */