<section id="contentCuentas">
    <div class="tituloEncabezado">
        <div class="col-6 float-left">
            <div class="tituloEncabezado">
                <h2>Estás en <strong>Cuentas</strong></h2>        
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="cardDashboard">
        <div class="">
            <div class="slider-div">                  
                    <div class="slider-box">        
                        <div class="slider-card-1 cuurent-act-card-border wrong-item item">
                            <div class="col-xl-10 float-left pr-0">
                                <div class="contentCajas">
                                    <h2>Caja de ahorro <br>
                                    en pesos</h2>
                                    <h3>Nº 02300003424234456</h3>
                                    <h4>Saldo</h4>
                                    <p>U$S 1.669,57</p>
                                    <a href="">Copiar tus datos bancarios</a>   
                                </div>   
                            </div>
                            <div class="col-xl-2 float-right">
                                <a href=""><i class="fas fa-star"></i></a>
                            </div>
                        </div>  
                    </div>      
                </div>
            <!-- <div>
                <div class="col-lg-3 box">
                    <div class="col-xl-11 float-left">
                        <div class="contentCajas">
                            <h2>Caja de ahorro <br>
                            en pesos</h2>
                            <h4></h4>
                        </div>   
                    </div>
                    <div class="col-xl-1 float-right">
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="col-lg-3 box">
                    <div class="col-xl-11 float-left"></div>
                    <div class="col-xl-1 float-right">
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="col-lg-3 box">
                    <div class="col-xl-11"></div>
                    <div class="col-xl-1">
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="col-lg-3 box">
                <div class="col-xl-11"></div> 
                <div class="col-xl-1">
                    <i class="fas fa-star"></i>
                </div>
                </div> 
            </div>  -->
    
        </div>
    </div>

</section>

